/* NavBar */
/* .link {
    color: pink;
    padding: 40px;
    font-size:30px;
} */
/* .NavBar {
    text-align: center;
    margin:30px;
} */
.hi{
    text-align: center;
    font-size: 40px; 
    vertical-align: middle;
    font-family: "Verdana", "Geneva", "Tahoma", "sans-serif" 
}
.home{  
    text-align:center;
    background-size: cover;
    background-position: center;
    font-size: 15px;
    vertical-align: middle;
    font-family: "sans-serif" 
}
.homeimg{
    background-image:url("https://plus.unsplash.com/premium_photo-1672784158736-aed766276e82?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1718&q=80"); 
    background-size: cover;
    background-position: center;
}
.login{
    text-align:center;
    font-size: 15px;
    font-family: "sans-serif"; 
}
.user{
    text-align:center;
    font-size: 15px;
    font-family:"sans-serif";
    margin-top: 30px
}
.user-title{
    font-family: "sans-serif";
}
.fitnessprogram{
    text-align:center;
    font-size: 15px;
    font-family: "sans-serif";
    margin-top: 30px
}
.signup{
    background-image: url("https://i.pinimg.com/736x/9e/48/cb/9e48cb202329ad2b153e7b4c0823e325.jpg"); 
    background-size: cover;
    background-position: center;
}
.signupbutton{
    text-align:center;
    font-size: 15px;
    font-family: "sans-serif" 
}
.userfitnessprogram{
    text-align:center;
    font-size: 15px;
    font-family:"sans-serif";
    margin-top: 30px;

}
